body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }


header{
  display: flex;
  gap: 1em;
  align-items: baseline;
  margin-left: auto;
}




em, time {
  display: block; /* Ensures these elements appear on new lines */
  text-align: left; /* Aligns text to the left */
  margin-top: 5px; /* Space above text */
}

em {
  color: #999;
  font-style: italic;
}

